.flex-container {
    display: flex;
    
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.img {
    display: block;
}

.button {
    display: inline;
    background-color: lightgreen;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    flex-direction: row;
    border-width: 0px;
    border-radius: 5px;
    
}

.numB {
    width: 100px;
}

.texB {
    width: 200px;
}

.main-div {
    background-color: #189bcc;
    width: 96%;
    height: 92%;
    padding: 1%;
    border-radius: 25px;
    flex-direction: column;
    padding-bottom: 100%;
}

.hidden {
    visibility: hidden;
}

.none {
    display: none;
}

.sub-div {
    flex-direction: row;
}

.header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-size: 40px;
    background-color: #8fe3c6;
    width: 96%;
    padding: 1%;
    border-radius: 10px;
}

.divider{
    width:10px;
    height:auto;
    display:inline-block;
}

.text {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
}

.right {
    text-align: right;
}

.wbg {
    background-color: white;
    border-radius: 10px;
    width: 70%;
}


@keyframes flash {
    10% {background-color: darkolivegreen;}
    100% {background-color: lightgreen;}
}

@keyframes reveal {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes hide {
    0% {opacity: 1;}
    100% {opacity: 0;}
}